h1{
    color: purple;
    font-weight: bold;
}

#divID{
    background-color: lightblue;
    margin: 10px;
    padding: 10px;
  }

.bigHeading{
    font-family: fantasy;
    
}

.likes{
    background-color: lightgreen;
    margin: 10px;
}

.hates{
    background-color: lightcoral;
    margin: 10px;
}

.link{
    color: black;
}

.link:hover{
    color: blue;
}

img {
    max-width: 100%;
    height: auto;
}