h1{
    color: purple;
    font-weight: bold;
}

#divID{
    background-color: lightblue;
  }

.catHeading{
    font-family: fantasy;
}

.likes{
    background-color: lightgreen;
}

.hates{
    background-color: lightcoral;
}